:root{
    --pri-color: #faa819;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Nav-bar and logo styling starts */
nav {
    padding: 25px 0;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--pri-color);
}
.logo:hover {
    transform: scale(1.02, 1.04);
    transition: .2s;
    color: #faa004;
}

.side-of-nav li {
    display: inline-block;
}
.side-of-nav a {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 25px;
}
.side-of-nav a:hover {
    color: var(--pri-color);
    transition: .2s;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-dropdown {
    cursor: pointer;
}
.dropdown {
    display: none;
    background: #000;
    width: 255px;
    position: absolute;
    z-index: 10;
    right: -200px;
    padding: 5px 0;
    border-radius: 10px;
}
.dropdown ul {
    display: flex;
    flex-direction: column;
}
.dropdown ul li {
    padding: 8px 10px;
}
.dropdown.active {
    display: block;
    right: 10px;
 }
 /* Nav-bar and logo styling ends */

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 25px;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    top: 0;
}

.hero-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 100000;
}

/* About section starts*/
.about {
    width: 100%;
    padding: 60px 0px 20px 0px;
    background-color: white;
}
.about-text-sqr {
    width: 350px;
}
.about-main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.about-header {
    color: black;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
}
.about-text-sqr h5 {
    color: black;
    letter-spacing: 1px;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.about-text-sqr p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 30px;
    text-align: justify;
}
.about-text-sqr i{
    color: var(--pri-color);
    text-align: center;
    font-size: 40px;
    width: 100%;
    padding-bottom: 20px;
}
.about-text-sqr img{
    color: var(--pri-color);
    font-size: 60px;
    width: 100%;
    padding-bottom: 20px;
    float: left !important;
}
/* About section ends */

footer {
    position: relative;
    width: 100%;
    background: black;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
} */
footer p:nth-child(2) {
    color: var(--pri-color);
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pri-color);
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
    color: green;
}

/* @media screen and (max-width: 300px) {
    .form-wrapper {
        width: 100%;
    }
} */