:root{
    --pri-color: #faa819;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Nav-bar and  logo styling starts */
.logo>div {
    font-family: 'josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--pri-color);
}
.logo:hover {
    transform: scale(1.02, 1.04);
    transition: .2s;
    color: #faa004;
}

nav {
    padding: 20px 0px;
    min-height: 10vh;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
.nav-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.nav-item-wrapper ul {
    margin: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
}
nav a {
    color: var(--pri-color);
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: white;
    transition: .2s;
}
/* Nav-bar and logo styling ends */

.table-container{
  width: 80%;
}

.table-container-heading-title{
  display: flex;
  justify-content: center;
}

.host-details-table{
  width: 100%;
}
.host-details-table, tr ,th, td{
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: center;
}
.host-details-table > thead  th, .host-details-table td {
  height: 40px;
}

button{
  background-color: green;
  border-radius: 6px;
  border: none;
  height: 30px;
  padding: 5px 10px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover{
  transform: scale(1.02,1.04);
}